In [ ]:
SELECT COUNT(*) FROM ost_ticket; -- Get a total number of all tickets logged on the system

In [ ]:
SELECT COUNT(*) FROM ost_ticket WHERE DATE(created) = '2023-09-26'; --Enter date of ticket(s) to pull the info on

In [ ]:
SET @WeekNumber = '39';  -- Change this to select the week
SET @Year = '2023'; -- Change this to select the year
SELECT COUNT(*) FROM ost_ticket WHERE WEEKOFYEAR(created) = @weekNumber AND YEAR(created) = @Year; -- Get's all tickets logged within the selected week number

In [ ]:
SET @MONTH_NAME = 'October'; -- Enter the selected month
SET @Year = '2023'; -- Enter selected year
SELECT COUNT(*) FROM ost_ticket WHERE MONTHNAME(created) = @MONTH_NAME AND YEAR(created) = @Year; -- Pull a number of tickets logged in a particular month.

In [ ]:
-- Get the status of all tickets logged on the system from day 1
SELECT 
    ost_ticket.number AS ticket_number,
    ost_user.name AS user_name,
    ost_staff.firstname AS staff_name,
    ost_ticket_status.name AS status_name,
    ost_ticket.created AS date_opened,
    ost_ticket.closed AS date_closed
FROM 
    ost_ticket
JOIN 
    ost_user ON ost_ticket.user_id = ost_user.id
JOIN 
    ost_staff ON ost_ticket.staff_id = ost_staff.staff_id
JOIN 
    ost_ticket_status ON ost_ticket.status_id = ost_ticket_status.id;

In [ ]:
-- 
SELECT status_id, COUNT(*) FROM ost_ticket WHERE DATE(created) = '2023-09-28' GROUP BY status_id;

In [ ]:
SELECT 
    ost_ticket.number AS ticket_number,
    ost_user.name AS user_name,
    ost_staff.firstname AS staff_name,
    ost_ticket_status.name AS status_name,
    ost_help_topic.topic AS help_topic,
    ost_ticket.created AS date_opened,
    ost_ticket.closed AS date_closed
FROM 
    ost_ticket
JOIN 
    ost_user ON ost_ticket.user_id = ost_user.id
JOIN 
    ost_staff ON ost_ticket.staff_id = ost_staff.staff_id
JOIN 
    ost_ticket_status ON ost_ticket.status_id = ost_ticket_status.id
JOIN 
    ost_help_topic ON ost_ticket.topic_id = ost_help_topic.topic_id;